.checkout-section{
    padding:50px;
    max-width:700px;
    margin:auto;
}

.checkout-section h1{
    text-align:center;
    margin-bottom:30px;
}

#checkoutForm{
    display:flex;
    flex-direction:column;
    gap:20px;
    background:white;
    padding:30px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

#checkoutForm input,
#checkoutForm textarea,
#checkoutForm select{
    padding:15px;
    width:100%;
    border:1px solid #ccc;
}

#checkoutForm textarea{
    height:120px;
    resize:none;
}

#checkoutForm button{
    padding:15px;
    background:red;
    color:white;
    border:none;
    cursor:pointer;
}
