.contact-section{
    display:flex;
    justify-content:space-between;
    gap:40px;
    padding:60px;
}

.contact-info{
    flex:1;
}

.contact-info h1{
    margin-bottom:20px;
    font-size:40px;
}

.contact-info p{
    margin-bottom:20px;
    line-height:1.8;
}

.contact-form{
    flex:1;
}

#contactForm{
    display:flex;
    flex-direction:column;
    gap:20px;
    background:white;
    padding:30px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

#contactForm input,
#contactForm textarea{
    padding:15px;
    width:100%;
    border:1px solid #ccc;
}

#contactForm textarea{
    height:150px;
    resize:none;
}

#contactForm button{
    padding:15px;
    background:red;
    color:white;
    border:none;
    cursor:pointer;
}
